---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
---

<BaseLayout title="À propos | Clément Bourhis" description="About Clément Bourhis">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="À propos"
				tagline="Merci de prendre le temps de vous renseigner sur moi. Dans cette section vous pourrez en savoir plus sur mon cursus et mes expériences."
			>
				<img
					width="1553"
					height="873"
					src="/assets/image/portrait.jpg"
					alt="Clément Bourhis"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Qui suis-je ?</h2>
				<div class="content">
					<p>
						Agé de 23 ans, je suis diplômé de la formation d'ingénieur <a href="https://www.ingenieur-imac.fr" target="_blank">IMAC</a>. 
						Le cursus que j'ai suivi m'a permis d'acquérir diverses compétences dans la création de contenus multimédias,
						j'ai également eu l'occasion de travailler sur des projets seuls et en équipe :
					</p>
					<br>
					<p>
						 - Réalisation de publicités en motion design<br>
						 - Création d'identité visuelle pour des marques<br>
						 - Conception de pages web interactives en HTML / CSS / JavaScript / PHP / Vue.js / Astro.js<br>
						 - Développement d'un jeu en 3D en c++<br>
						 - Réalisation de courts métrages avec Adobe PremierePro et AfterEffect<br>
						 - Création d’une animation 3D sous Blender...<br>
					</p>
					<br>
					<p>
						Créatif et passionné sur de nombreux sujets, je m'intéresse à la façon d'apporter une touche d'originalité
						aux différents projets auxquels je participe. Je me donne également les moyens d'apprendre de nouvelles techniques de création 
						pour répondre à des besoins spécifiques.
					</p>
					<br>
					<p>	Motivé pour participer à des projets toujours plus ambitieux, je mets à disposition mes compétences d'ingénieur en multimédia pour 
						vous aider à remplir vos objectifs. Si vous souhaitez me contacter pour un projet, n'hésitez pas à <a href="mailto:bourhis.clement29@gmail.com">m'envoyer un message <Icon icon="paper-plane-tilt" size="1.2em" /></a>.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formation</h2>
				<div class="content">
					<h2>École d'ingénieur IMAC</h2>
					<p>Ingénieur en Image, Multimédia, Audiovisuel et Communication avec session de 4 mois à UQO (Québec) dans un cadre d’échange international BCI (Août-Décembre 2022)</p>
					<br>
					<p><a href="https://www.ingenieur-imac.fr" target="_blank">Université Gustave Eiffel - ESIPE</a> - (2020 - 2023)</p>
				</div>
				<div class="content">
					<h2>IUT Réseaux & Télécoms</h2>
					<p>Institut Universitaire de Technologie en réseaux et télécommunications avec une alternance de 1 an en deuxième année</p>
					<br>
					<a href="https://iut-lannion.univ-rennes.fr" target="_blank">IUT de Lannion</a> - (2018 - 2020)</p>
				</div>
				<div class="content">
					<h2>BAC Scientifique</h2>
					<p>Diplôme national du baccalauréat français dans la branche ‘Scientifique’ avec mention ‘Bien’ <br>- Spécialité ISN (Informatique & Science du numérique) <br>- Option Arts</p>
					<br>
					<a href="https://ndkerbertrand.fr" target="_blank">Lycée Notre Dame de Kerbertrand (Quimperlé)</a> - (2018)</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="content">
					<h2>Informatique</h2>
					
					<h3>Langages</h3>
					<p>HTML / CSS / PHP / JavaScript / C / C++ / SQL / Python / Bash / OpenGL / SDL / Java</p>
					
					<h3>Outils</h3>
					<p>Visual Studio Code / MySQL / Postman / XAMPP - WAMP / GitHub / GitHub Pages / GitLab / Git Kraken / Vue.js / Astro.js</p>
	
					<h3>Systèmes</h3>
					<p>Windows / Linux / iOS</p>
	
					<h3>Réseaux</h3>
					<p>IPV4 / IPV6 / VPN / VLAN / BGP / OSPF / MPLS / DNS / DHCP / NAT / LDAP / Apache / Connexion cuivre et fibre / WiFi</p>
				</div>
				<div class="content">
					<h2>Artistique</h2>
	
					<h3>Équipements</h3>
					<p>Caméra GH5 Lumix / Enregistreur son portable / Perche son / Tablette graphique XP-Pen 15.6 Pro</p>
	
					<h3>Pratiques</h3>
					<p>Dessin / Photographie / Montage / Illustration / Imagerie / Modelisation 3D / Composition sonore / Animation 2D / Animation 3D / Motion Design / Maquettage</p>
					
					<h3>Démarches</h3>
					<p>Observation / Moodboard / Storyboard / Écriture / Analyse</p>
				</div>
			<section>
				<h2 class="section-title">Expériences</h2>
				<div class="content">
					<h2>E-Ness</h2>
					<p> - Réalisation de maquettes et intégration de sites web</p>
					<p> - Community Manager dans la commercialisation du logiciel Libize, responsable des publications</p>
					<p> - Création de vidéos et d’animations sur Davinci Resolve et Canva</p>
					<p> - Rédaction d’articles et optimisation de référencement SEO sur internet</p>
					<br>
					<a href="https://www.eness.fr" target="_blank">Agence Web E-Ness</a> - (2023) - Stage de 6 mois</p>
				</div>

				<div class="content">
					<h2>B.I.L. Horizons</h2>
					<p> - Refonte complète de l’univers visuel de l’entreprise : Logo / Couleurs / Moodboard / Typographie / Charte graphique...</p>
					<p> - Création d’un site web vitrine pour l’entreprise en Vue.js</p>
					<p> - Réalisation d’un système de création de formulaire automatisé avec une base de données SQL liée au site web</p>
					<br>
					<a href="">B.I.L. Horizons</a> - (2022) - Stage de 2 mois</p>
				</div>

				<div class="content">
					<h2>Altran</h2>
					<p> - SAV Réseaux : Analyse-traitement d’incidents / appels clients / prise en charge de tickets / aide aux techniciens</p>
					<p> - Amélioration et réorganisation des protocoles de SAV avec la création de manuels d’instructions</p>
					<br>
					<a href="https://www.capgemini.com" target="_blank">Altran (Capgemini)</a> - (2019 - 2020) - Alternance de 1 an</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Logiciels</h2>
				<div class="content">
					<h3>Vidéo</h3>
					<p>Davinci Resolve / Premiere-Pro / After Effect / OBS Studio / MAGIX video</p>

					<h3>Image</h3>
					<p>Illustrator / Photoshop / Krita / Paint Tool SAI / GIMP / Canva / P5</p>

					<h3>Prototypage</h3>
					<p>Figma / InDesign</p>

					<h3>Son</h3>
					<p>Audacity / Pro Tools</p>

					<h3>Modélisation 3D</h3>
					<p>Blender</p>

					<h3>Autre</h3>
					<p>Les licences Microsoft Office</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content h2 {
		font-size: var(--text-xl);
	}

	.content h3 {
		margin-top: 1rem;
		font-size: 1.3rem;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
